.teacher-container {
  width: 950px;
  height: 400px;
  text-align: center;
  background-color: white;
  padding-top: 50px;
  margin-top: 40px;
}

.teacher-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: contain;
}

.teacher-content {
  display: flex;
  justify-content: space-evenly;
}

.teacher-heading {
  color: #ffc65a;
  background: #fff7e8;
}
.teacher-text {
  text-align: left;
  font-size: 20px;
  letter-spacing: 2px;
  width: 500px;
  font-weight: lighter;
  opacity: 0.8;
}
