.video {
  width: 100%;
  height: auto;
  margin-top: 59px;
}

.banner-title {
  position: absolute;
  color: white;
  top: 590px;
  margin-left: 40px;
  letter-spacing: 1px;
}
.banner-main-title {
  position: absolute;
  color: white;
  top: 490px;
  margin-left: 40px;
  letter-spacing: 1px;
  font-size: 32px;
  width: 700px;
  opacity: 0.9;
}

.banner-secondary-title {
  position: absolute;
  color: white;
  top: 560px;
  margin-left: 40px;
}

@media only screen and (max-width: 600px) {
  .video {
    width: auto;
    height: 283px;
    margin-top: 35px;
  }

  .banner-main-title {
    position: absolute;
    color: white;
    top: 223px;
    margin-left: 40px;
    font-size: 15px;
    width: 312px;
  }
  .banner-title {
    position: absolute;
    top: 264px;
    margin-left: 40px;
    font-style: 'Circular Standard Black';
    font-size: 10px;
  }
}
